In [1]:
import six

In [1]:
name ='NBA'
word='I love this {!r} game'.format(name)

In [2]:
word

"I love this 'NBA' game"

In [2]:
six.PY3

True

In [3]:
six.PY2

False

In [4]:
r1={'name':'Mike','age':23}

In [5]:
r1

{'age': 23, 'name': 'Mike'}

In [6]:
r2=r1.copy()

In [7]:
r2['name']='Rocky'

In [8]:
r2

{'age': 23, 'name': 'Rocky'}

In [9]:
r1

{'age': 23, 'name': 'Mike'}

In [10]:
r3=r1

In [11]:
r3

{'age': 23, 'name': 'Mike'}

In [12]:
r1['age']=99

In [13]:
r1

{'age': 99, 'name': 'Mike'}

In [14]:
r3

{'age': 99, 'name': 'Mike'}

In [15]:
class A(object):
    name = 'Aus'
a=A()
print(a.name)

Aus

In [16]:
print(getattr(a,'aa',None))

None

In [3]:
import math
a=211/10
math.ceil(a)

22

In [1]:
bit_size = 1 << 31

In [2]:
bit_size

2147483648

In [45]:
2**31

2147483648

In [17]:
import hashlib

In [19]:
t = b'First String'

In [20]:
m5 = hashlib.new('md5')
m5.update(t)
m_h = m5.hexdigest()

In [40]:
len(m_h)

32

In [41]:
m_h

'91617d13e51cfd7395da2ef7d3e95e3a'

In [25]:
string_ = 'abc'
a = bytes(string_,'utf-8')  
print(type(str0),str0)
print(type(a),a)   
print('-----------------------') 
  
c = bytes([97,98,99,100])  
print(type(c),c)
str1= str(c,"utf-8")  
print(str1)

<class 'str'> abc
<class 'bytes'> b'abc'
-----------------------
<class 'bytes'> b'abcd'
abcd

In [26]:
b = b"example"

# str object  
s = "example"  

# str to bytes  
sb = bytes(s, encoding = "utf8")  

# bytes to str  
bs = str(b, encoding = "utf8")  

# an alternative method  
# str to bytes  
sb2 = str.encode(s)  

# bytes to str  
bs2 = bytes.decode(b)

In [27]:
b

b'example'

In [28]:
bs

'example'

In [29]:
sb2

b'example'

In [34]:
bin(ord('a'))

'0b1100001'

In [36]:
x='abcd'
int(x[0:2],16)

171

In [39]:
int('ay',16)

ValueError: invalid literal for int() with base 16: 'ay'

In [43]:
ord('a')

97

In [46]:
(2147483648-1) & 150320808235888861770923077

1978907717

In [47]:
bin(2147483648-1)

'0b1111111111111111111111111111111'

In [49]:
len('1111111111111111111111111111111')

31

In [55]:
bin(150320808235888861770923077)

'0b111110001010111101010110101011111001011111111010100011001110101111100111011110001000101'

In [51]:
s= '111110001010111101010110101011111001011111111010100011001110101111100111011110001000101'

In [52]:
bin(1978907717)

'0b1110101111100111011110001000101'

In [53]:
s[-31:]

'1110101111100111011110001000101'

In [56]:
len('11111000101011110101011010101111100101111111101010001100111010111110011101111000100010')

86

In [4]:
from lxml import etree
 
html_str = """
<div id="box1">this from blog.csdn.net/lncxydjq , DO NOT COPY!
    <div id="box2">*****
        <!--can u get me, bitch?-->
    </div>
</div>
"""
 
html = etree.HTML(html_str)
 
print(html.xpath('//div[@id="box1"]/div/node()'))
print(type(html.xpath('//div[@id="box1"]/div/node()')[1]))
print(html.xpath('//div[@id="box1"]/div/node()')[1].text)

['*****\n        ', <!--can u get me, bitch?-->, '\n    ']
<class 'lxml.etree._Comment'>
can u get me, bitch?

In [1]:
import hashlib

In [7]:
h=hashlib.new('md5')
# idnum='110101********0039'
name='陈万华'
new_id=bytes(name,'gbk')
new_id_u=bytes(name,'utf-8')
h.update(new_id)
ret=h.hexdigest()
print(ret)

0576cc884d087d5ecfdce44a14922c32

In [8]:
new_id_u

b'\xe9\x99\x88\xe4\xb8\x87\xe5\x8d\x8e'

In [14]:
new_id

b'110101********0039'

In [47]:
x='e'
int(x,16)

14

In [37]:
import jieba

In [49]:
s1= '我来到清华大学'

In [50]:
s2=jieba.cut(s1,cut_all=False)

In [40]:
'/'.join(s1)

'我/来/到/清/华/大/学'

In [44]:
for i in s2:
    print(i)
#     print('end')

In [54]:
next(s2)

StopIteration:

In [59]:
word='小名硕士毕业于中国科学院计算机所，后在日本京都大学深造'
s3=jieba.cut_for_search(word)

In [58]:
for i in s3:
    print(i)

小名
硕士
毕业
于
中国
科学
学院
科学院
中国科学院
计算
算机
计算机
计算机所
，
后
在
日本
京都
大学
日本京都大学
深造

In [60]:
'/'.join(s3)

'小名/硕士/毕业/于/中国/科学/学院/科学院/中国科学院/计算/算机/计算机/计算机所/，/后/在/日本/京都/大学/日本京都大学/深造'

In [62]:
content ='''习近平首先感谢阿联酋方面作出的盛大热情接待安排，指出这充分体现了阿方对中国人民的友好感情和对中阿关系的高度重视。习近平强调，2015年12月，我同王储殿下在北京就加强两国友好合作达成很多重要共识，共同引领双边关系进入全面、快速、深入发展新阶段。中阿合作前景广阔、潜力巨大。这次访问期间，我们两国正式建立中阿全面战略伙伴关系，有利于双方深化战略互信，提升互利合作水平。相信中阿可以成为相互学习、相互借鉴、相互帮助的好朋友、好伙伴，实现共同发展繁荣。习近平并请转达对哈利法总统的亲切问候，祝他早日康复。

　　习近平强调，双方要把中阿全面战略伙伴关系落到实处，夯实政治互信，继续照顾彼此核心利益和重大关切，支持对方走适合本国国情的发展道路。中阿是共建“一带一路”的天然合作伙伴，中方视阿联酋为“一带一路”建设重要支点国家，赞赏王储殿下提出“重振丝绸之路”设想。双方要加强发展战略对接和产业政策沟通，规划好、运营好中阿共建“一带一路”旗舰项目，促进中东海湾地区经济发展。中方愿同阿方打造全方位、立体化能源合作格局，深化投资和金融合作，拓展创新合作。要加强安全合作，坚决反对一切形式的恐怖主义。要坚持民心相通，密切人文交流，加强不同宗教和不同文化包容互鉴。中方支持实施好王储殿下发起的“青年大使”访华项目，赞赏副总统兼总理殿下推出的“拥抱中国”计划，愿同阿方分享经验，共同将迪拜世博会办成一届令人瞩目的盛会。

　　习近平指出，当前，西亚北非地区民众普遍盼稳思定，谋和平、行改革、促发展是不可阻挡的潮流。中方愿同阿方深化战略合作，积极探索以发展促和平的中东治理路径，通过政治途径解决热点问题，共同促进中东地区安全稳定。

　　穆罕默德副总统兼总理表示，热烈欢迎习近平主席来访，希望习主席感到宾至如归。阿联酋钦佩中国的发展模式和骄人成就，赞赏中国奉行开放的发展战略，愿密切同中国广泛领域合作，做中国可靠的伙伴。相信习主席这次访问将把阿中伙伴关系推向新高度。通过古老的丝绸之路，阿拉伯世界同中国保持着悠久的传统友好。今天，中国正引领世界重启丝绸之路，“一带一路”倡议受到国际社会广泛支持。阿联酋愿继续积极参与“一带一路”合作。

　　阿布扎比王储穆罕默德表示，我对2015年对中国的访问记忆犹新。阿方很高兴能接待习主席这次对阿联酋的历史性访问。我们十分钦佩中国取得的发展成就，高度认同习近平主席的远见卓识和治国理政理念，相信中国有着光明的未来，必将为世界和平和人类进步作出更大贡献。阿中在政治、经济、金融、科技、能源、人文等广泛领域拥有巨大合作潜力，深化同兄弟般中国的传统、战略、友好关系始终是阿联酋对外关系的重中之重。阿中关系提升至全面战略伙伴关系符合双方共同心愿，将更好造福两国人民。阿联酋坚定支持一个中国原则，赞赏中国在国际事务中的重要作用，愿密切同中国在发展、反恐等重大问题上的沟通和协调。

　　会谈后，双方发表了《中华人民共和国和阿拉伯联合酋长国关于建立全面战略伙伴关系的联合声明》。

　　两国领导人共同见证了“一带一路”建设等合作文件的签署。'''

In [63]:
content

'习近平首先感谢阿联酋方面作出的盛大热情接待安排，指出这充分体现了阿方对中国人民的友好感情和对中阿关系的高度重视。习近平强调，2015年12月，我同王储殿下在北京就加强两国友好合作达成很多重要共识，共同引领双边关系进入全面、快速、深入发展新阶段。中阿合作前景广阔、潜力巨大。这次访问期间，我们两国正式建立中阿全面战略伙伴关系，有利于双方深化战略互信，提升互利合作水平。相信中阿可以成为相互学习、相互借鉴、相互帮助的好朋友、好伙伴，实现共同发展繁荣。习近平并请转达对哈利法总统的亲切问候，祝他早日康复。\n\n\u3000\u3000习近平强调，双方要把中阿全面战略伙伴关系落到实处，夯实政治互信，继续照顾彼此核心利益和重大关切，支持对方走适合本国国情的发展道路。中阿是共建“一带一路”的天然合作伙伴，中方视阿联酋为“一带一路”建设重要支点国家，赞赏王储殿下提出“重振丝绸之路”设想。双方要加强发展战略对接和产业政策沟通，规划好、运营好中阿共建“一带一路”旗舰项目，促进中东海湾地区经济发展。中方愿同阿方打造全方位、立体化能源合作格局，深化投资和金融合作，拓展创新合作。要加强安全合作，坚决反对一切形式的恐怖主义。要坚持民心相通，密切人文交流，加强不同宗教和不同文化包容互鉴。中方支持实施好王储殿下发起的“青年大使”访华项目，赞赏副总统兼总理殿下推出的“拥抱中国”计划，愿同阿方分享经验，共同将迪拜世博会办成一届令人瞩目的盛会。\n\n\u3000\u3000习近平指出，当前，西亚北非地区民众普遍盼稳思定，谋和平、行改革、促发展是不可阻挡的潮流。中方愿同阿方深化战略合作，积极探索以发展促和平的中东治理路径，通过政治途径解决热点问题，共同促进中东地区安全稳定。\n\n\u3000\u3000穆罕默德副总统兼总理表示，热烈欢迎习近平主席来访，希望习主席感到宾至如归。阿联酋钦佩中国的发展模式和骄人成就，赞赏中国奉行开放的发展战略，愿密切同中国广泛领域合作，做中国可靠的伙伴。相信习主席这次访问将把阿中伙伴关系推向新高度。通过古老的丝绸之路，阿拉伯世界同中国保持着悠久的传统友好。今天，中国正引领世界重启丝绸之路，“一带一路”倡议受到国际社会广泛支持。阿联酋愿继续积极参与“一带一路”合作。\n\n\u3000\u3000阿布扎比王储穆罕默德表示，我对2015年对中国的访问记忆犹新。阿方很高兴能接待习主席这次对阿联酋的历史性访问。我们十分钦佩中国取得的发展成就，高度认同习近平主席的远见卓识和治国理政理念，相信中国有着光明的未来，必将为世界和平和人类进步作出更大贡献。阿中在政治、经济、金融、科技、能源、人文等广泛领域拥有巨大合作潜力，深化同兄弟般中国的传统、战略、友好关系始终是阿联酋对外关系的重中之重。阿中关系提升至全面战略伙伴关系符合双方共同心愿，将更好造福两国人民。阿联酋坚定支持一个中国原则，赞赏中国在国际事务中的重要作用，愿密切同中国在发展、反恐等重大问题上的沟通和协调。\n\n\u3000\u3000会谈后，双方发表了《中华人民共和国和阿拉伯联合酋长国关于建立全面战略伙伴关系的联合声明》。\n\n\u3000\u3000两国领导人共同见证了“一带一路”建设等合作文件的签署。'

In [64]:
import jieba.analyse

In [67]:
jieba.analyse.extract_tags(content,topK=10,withWeight=True,allowPOS=())

[('习近平', 0.15732846992714286),
 ('合作', 0.13743086181049888),
 ('阿联酋', 0.1357709543057143),
 ('阿方', 0.13269221173015874),
 ('中国', 0.1029700913829932),
 ('战略伙伴', 0.10152043039365079),
 ('王储', 0.09618903207256237),
 ('一路', 0.08724332158938775),
 ('愿同', 0.08132494899931972),
 ('阿中', 0.08132494899931972)]

In [1]:
# 生僻字
content = '建昇大厦'

In [3]:
print(content)

建昇大厦

In [1]:
i=100

In [2]:
a=1 if i <100 else 2 if i >100 else 0

In [3]:
a

0

In [7]:
i=101

In [8]:
a=1 if i <100 else 2 if i >100 else 0

In [9]:
a

2

In [1]:
page=4814
for p in range(0,page+1,17):
    print(p)

0
17
34
51
68
85
102
119
136
153
170
187
204
221
238
255
272
289
306
323
340
357
374
391
408
425
442
459
476
493
510
527
544
561
578
595
612
629
646
663
680
697
714
731
748
765
782
799
816
833
850
867
884
901
918
935
952
969
986
1003
1020
1037
1054
1071
1088
1105
1122
1139
1156
1173
1190
1207
1224
1241
1258
1275
1292
1309
1326
1343
1360
1377
1394
1411
1428
1445
1462
1479
1496
1513
1530
1547
1564
1581
1598
1615
1632
1649
1666
1683
1700
1717
1734
1751
1768
1785
1802
1819
1836
1853
1870
1887
1904
1921
1938
1955
1972
1989
2006
2023
2040
2057
2074
2091
2108
2125
2142
2159
2176
2193
2210
2227
2244
2261
2278
2295
2312
2329
2346
2363
2380
2397
2414
2431
2448
2465
2482
2499
2516
2533
2550
2567
2584
2601
2618
2635
2652
2669
2686
2703
2720
2737
2754
2771
2788
2805
2822
2839
2856
2873
2890
2907
2924
2941
2958
2975
2992
3009
3026
3043
3060
3077
3094
3111
3128
3145
3162
3179
3196
3213
3230
3247
3264
3281
3298
3315
3332
3349
3366
3383
3400
3417
3434
3451
3468
3485
3502
3519
3536
3553
3570
3587
3604
3621
3638
3655
3672
3689
3706
3723
3740
3757
3774
3791
3808
3825
3842
3859
3876
3893
3910
3927
3944
3961
3978
3995
4012
4029
4046
4063
4080
4097
4114
4131
4148
4165
4182
4199
4216
4233
4250
4267
4284
4301
4318
4335
4352
4369
4386
4403
4420
4437
4454
4471
4488
4505
4522
4539
4556
4573
4590
4607
4624
4641
4658
4675
4692
4709
4726
4743
4760
4777
4794
4811

In [2]:
import sys

In [3]:
sys.maxsize

2147483647

In [3]:
dict_list = [{'name':'june','age':10},{'name':'orichi','age':19}]

In [6]:
dict_list.__repr__()

"[{'name': 'june', 'age': 10}, {'name': 'orichi', 'age': 19}]"

In [7]:
#方法1：
mylist = [1,2,2,2,2,3,3,3,4,4,4,4]
myset = set(mylist)  #myset是另外一个列表，里面的内容是mylist里面的无重复 项
for item in myset:
    print("the %d has found %d" %(item,mylist.count(item)))
 
# List=[1,2,2,2,2,3,3,3,4,4,4,4]
# a = {}
# for i in List:
#     if List.count(i)>1:
#     a[i] = List.count(i)
# print (a)
 
# """利用字典的特性来实现。
# 方法3："""
# >>> from collections import Counter
# >>> Counter([1,2,2,2,2,3,3,3,4,4,4,4])
# Counter({1: 5, 2: 3, 3: 2})

the 1 has found 1
the 2 has found 4
the 3 has found 3
the 4 has found 4

In [8]:
mylist.count(6)

0

In [13]:
('k' or 'd' or 'c') in 'abc'

False