In [1]:
from sqlalchemy import create_engine
import config
import pandas as pd
import pymysql
from setting import get_mysql_conn

In [92]:
db1='db_stock'
win101 = create_engine(
        'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format(config.mysql_user_101,config.mysql_password_101,
                                                             config.mysql_host_101,3306, db1))

In [2]:
db0='db_stock'
local=create_engine(
        'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format('root',config.localpassword,
                                                             config.localhost,3306, db0))

In [130]:
# db_ali='db_stock'
alibaba=create_engine(
        'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format(config.ali_user,config.ali_pass,
                                                             config.ali_host,3306, config.ali_db))

In [104]:
db2='db_news'
win101_2 = create_engine(
        'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format(config.mysql_user_101,config.mysql_password_101,
                                                             config.mysql_host_101,3306, db2))

In [3]:
local_df = pd.read_sql('tb_cnstock',con=local)

c:\python3_64\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [97]:
local_df_new = pd.read_sql('tb_cnstock_new',con=local)

In [98]:
df_101 = pd.read_sql('tb_cnstock',con=win101)

c:\python3_64\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 518")
  result = self._query(query)

In [105]:
df_101_new = pd.read_sql('tb_cnstock',con=win101_2)

c:\python3_64\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 518")
  result = self._query(query)

In [107]:
ali_df = pd.read_sql('tb_cnstock',con=alibaba)

In [108]:
len(local_df)

1785

In [109]:
len(local_df_new)

14963

In [110]:
len(df_101)

14204

In [111]:
len(df_101_new)

8518

In [112]:
len(ali_df)

886

In [113]:
my_df = pd.concat([local_df,local_df_new,df_101,df_101_new,ali_df])

In [114]:
len(my_df)

40356

In [115]:
temp_df = my_df.drop_duplicates(['URL'])

In [116]:
len(temp_df)

15911

In [74]:
new_df = pd.concat([local_df,remote_df,ali_df,df_101_db_news])

In [75]:
len(new_df)

31079

In [16]:
len(new_df)

29643

In [76]:
my_df = new_df.drop_duplicates(['Title','URL'])

In [77]:
len(my_df)

15849

In [78]:
df1=my_df.drop_duplicates('URL')

In [126]:
len(df1)

15849

In [ ]:
my_df.head(20)

In [127]:
my_df1 = df1.reset_index(drop=True)

In [118]:
my_df1.head()

,Date,Title,URL
0,2018-05-24 08:17:00,东方园林：从未发生过债券和银行贷款到期不能兑付问题,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1,2018-05-24 09:20:00,3家公司临停 海南橡胶因重要事项未公告,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
2,2018-05-24 17:49:00,艾华集团两高管拟合计减持不超0.49%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
3,2018-05-24 18:01:00,秦安股份部分董监高拟合计减持不超0.32%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
4,2018-05-24 11:48:00,新筑股份战略“牵手”中铁二院,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...

In [128]:
my_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15849 entries, 0 to 15848
Data columns (total 3 columns):
Date     15849 non-null datetime64[ns]
Title    15849 non-null object
URL      15849 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 371.5+ KB

In [132]:
my_df1.to_sql('tb_cnstock',con=local,index=None)

In [52]:
db='db_stock'
local_conn =pymysql.connect(config.localhost, 'root', config.localpassword, db, charset='utf8')
cur = local_conn.cursor()

In [53]:
for ix in my_df.index:
    date=my_df.iloc[ix]['Date']
    title=my_df.iloc[ix]['Title']    
    url=my_df.iloc[ix]['URL']    
    cmd='''
    INSERT INTO tb_cnstock (Date,Title,URL ) VALUES(\'%s\',\'%s\',\'%s\');''' % (
                    date,title,url)
    cur.execute(cmd)

    try:
        local_conn.commit()
    except Exception as e:
        print(e)
        print(cmd)
#         local_conn.rollback()
        continue
# local_conn.close()

IntegrityError: (1062, "Duplicate entry 'http://ggjd.cnstock.com/company/scp_ggjd/tjd_ggkx/201805/4225611' for key 'PRIMARY'")

In [49]:
my_df[my_df['URL']=='http://ggjd.cnstock.com/company/scp_ggjd/tjd_ggkx/201809/4278966']

Empty DataFrame
Columns: [Date, Title, URL]
Index: []

In [35]:
local_conn.close()

In [30]:
new_df.iloc[1]['Title']

'3家公司临停 海南橡胶因重要事项未公告'

In [ ]:
no_dup_df = my_df.drop_duplicates(['positionId','companyId','positionName'])

In [ ]:
len(no_dup_df)

In [ ]:
no_dup_df.to_sql('tb_jobs_new',con=local)

In [41]:
db_local = get_mysql_conn(local='local',db='db_stock')
db_101=get_mysql_conn(local='101',db='db_stock')
db_ali=get_mysql_conn(local='ali',db='default')

In [42]:
cursor_local = db_local.cursor()
cursor101=db_101.cursor()
ali_cursor=db_ali.cursor()

In [43]:
cmd = 'select * from tb_blacklist'

In [44]:
cursor_local.execute(cmd)

32

In [46]:
ret = cursor_local.fetchall()

In [47]:
list_101 = []
for i in ret:
    print(i[2])
    list_101.append(i[2])

国新健康
英力特
华泽钴镍
神雾节能
欢瑞世纪
中弘股份
獐子岛
ST众和
*ST云网
巨力索具
ST尤夫
晨鑫科技
龙力生物
大连电瓷
顾地科技
GQY视讯
乐视网
神雾环保
尔康制药
易事特
金盾股份
日照港
保千里
广汇能源
亿阳信通
宏达矿业
ST慧球
万家文化
富控互动
匹凸匹
大连控股
天业股份

In [38]:
ali_cursor.execute(cmd)
ret_ali=ali_cursor.fetchall()

list_ret_ali = []
for i in ret_ali:
    print(i[2])
    list_ret_ali.append(i[2])

獐子岛
万家文化
尔康制药
神雾环保
神雾节能
乐视网
保千里
匹凸匹
日照港
GQY视讯
广汇能源
大连电瓷
顾地科技
晨鑫科技
易事特
ST慧球
华泽钴镍
ST尤夫
富控互动
宏达矿业
*ST云网
ST众和
亿阳信通
金盾股份
天业股份
巨力索具
英力特
大连控股
龙力生物
国新健康
欢瑞世纪
中弘股份
长生生物

In [39]:
len(list_ret_ali)

33

In [27]:
len(list_101)

32

In [48]:
l1=set(list_ret_ali)

In [49]:
l2=set(list_101)

In [51]:
len(l2)

32

In [31]:
len(l2 & l1)

32

In [133]:
# 把缺的日期补回去

db0='db_daily'
local=create_engine(
        'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format('root',config.localpassword,
                                                             config.localhost,3306, db0))

In [134]:
path = r'D:\OneDrive\Stock_Data'

In [135]:
import os
full_path = os.path.join(path,'20181019_zdt.xls')

In [136]:
df_today = pd.read_excel(full_path)

In [137]:
df_today.head()

,代码,名称,最新价格,涨跌幅,封成比,封流比,封单金额,最后一次涨停时间,第一次涨停时间,打开次数,振幅,涨停强度,今天的日期
0,953,ST河化,3.29,5.11,84.112770,0.034496,33373760.0,09:25:03,09:25:03,0,0.00,100.000000,20181019
1,601162,天风证券,2.58,44.13,32.470303,0.125952,168327280.0,09:25:02,09:25:02,0,24.02,100.000000,20181019
2,300508,维宏股份,24.89,9.99,1.415676,0.105583,62414064.0,09:30:09,09:30:09,0,4.55,79.706764,20181019
3,300694,蠡湖股份,20.85,10.03,0.677753,0.040439,45386384.0,09:25:03,09:25:03,0,0.00,67.372140,20181019
4,2333,罗普斯金,6.51,9.97,0.800117,0.011250,35518484.0,09:30:57,09:30:57,0,8.28,64.777430,20181019

In [8]:
local_df.sort_values(by='Date',ascending=False)

,Date,Title,URL
15937,2018-10-24 08:07:00,东方园林与三峡集团签订长江大保护战略合作框架协议,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15938,2018-10-23 22:00:00,北特科技股东及部分高管拟合计减持不超3.07%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15939,2018-10-23 21:52:00,建研院股东日亚吴中国发拟减持不超3.36%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15940,2018-10-23 21:46:00,中恒集团控股股东拟增持不超5%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15941,2018-10-23 21:41:00,新日恒力14.74%股份被协议转让,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15942,2018-10-23 21:39:00,飞利信第一期员工持股计划所持股票全部被动减持,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15943,2018-10-23 21:31:00,康隆达拟11.5亿元投建越南安全防护生产基地项目,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15944,2018-10-23 21:28:00,银禧科技孙公司获宁德时代新能源动力电池箱体项目定点信,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15945,2018-10-23 21:23:00,*ST保千8.2%股份被司法划转,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15946,2018-10-23 21:19:00,隆基机械2018年度净利润预增30%-60%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15947,2018-10-23 21:14:00,宜华健康前三季净利预增33%-38%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15948,2018-10-23 21:08:00,特发信息拟3.15亿元收购神州飞航70%股权,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15949,2018-10-23 21:07:00,欧比特拟斥资5000万元至1亿元回购公司股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15950,2018-10-23 21:01:00,赞宇科技2018年度净利润预增57%-101%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15951,2018-10-23 20:59:00,皇庭国际大股东拟不少于1亿元增持,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15952,2018-10-23 20:53:00,美的集团拟以发行A股方式换股吸收合并小天鹅,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15953,2018-10-23 20:47:00,天齐锂业前三季度净利润同比增长11.24%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15954,2018-10-23 20:32:00,新五丰未受到“非洲猪瘟”疫情影响,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15955,2018-10-23 20:21:00,浙江医药前三季度净利增长291%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15956,2018-10-23 20:17:00,一汽轿车与百度签订合作备忘录,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15957,2018-10-23 20:13:00,恒瑞医药盐酸伊立替康注射液拟纳入优先审评程序,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15958,2018-10-23 20:06:00,精工钢构前三季度净利预增123%-155%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15959,2018-10-23 20:00:00,广州浪奇控股股东拟增持1%-2%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15960,2018-10-23 19:57:00,海康威视控股股东关联方电科投资拟增持1.5亿至3亿元,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15961,2018-10-23 19:56:00,万华化学股价下跌 无应披露而未披露重大信息,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15962,2018-10-23 19:51:00,中珠医疗股东中珠集团股份被轮候冻结,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15963,2018-10-23 19:51:00,翔鹭钨业2018年度净利润预增50%-100%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15964,2018-10-23 19:45:00,江河集团中标合计3.7亿元两工程项目,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15965,2018-10-23 19:43:00,广田集团终止发行可转债事项并撤回申请文件,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15966,2018-10-23 19:39:00,建设银行前三季净利增长6.39%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
...,...,...,...
1970,2016-09-22 12:08:00,龙洲股份重组获福建国资委批复,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1969,2016-09-22 11:57:00,恩华药业子公司获网上药品交易资格证,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1968,2016-09-22 09:27:00,5公司临停 力源信息等拟披露重大事项,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1967,2016-09-22 09:02:00,子公司败诉将致中国海诚三季报减利5000万,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1966,2016-09-22 08:46:00,天夏智慧斩获11亿元重庆永川智慧商圈项目,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
15738,2016-09-21 22:10:00,9月21日晚间两市公司重要公告集锦,http://ggjd.cnstock.com/company/scp_ggjd/tjd_t...
1965,2016-09-21 21:18:00,诺普信实际控制人减持公司股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1964,2016-09-21 21:14:00,吴通控股实际控制人减持公司股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1963,2016-09-21 20:34:00,雪人股份实际控制人及高管披露增持计划,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1962,2016-09-21 20:27:00,*ST生物22日复牌 拟收购资产涉足节能服务业务,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1961,2016-09-21 20:15:00,万方发展获两位高管增持1000万元,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1960,2016-09-21 20:03:00,西安旅游获赛石集团及其一致人“举牌”,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1959,2016-09-21 19:53:00,申科股份22日复牌 拟21亿元收购紫博蓝,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1958,2016-09-21 19:49:00,*ST天利明复牌 拟获注251亿工程建设业务资产,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1957,2016-09-21 19:37:00,莱克电气实际控制人拟增持不超过500万股,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1956,2016-09-21 19:31:00,正平股份中标四项目合计10.83亿元,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1955,2016-09-21 19:21:00,皖通科技拟推第一期员工持股计划,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1954,2016-09-21 19:13:00,*ST山水获吴太交等4名自然人“举牌”,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1953,2016-09-21 18:55:00,方大集团前三季度净利润预增50%至100%,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1952,2016-09-21 18:46:00,亚宝药业拟逾6亿元收购控股清松制药,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1951,2016-09-21 18:17:00,云赛智联转让房地产资产获益1.86亿元,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1950,2016-09-21 18:08:00,三力士拟定增募资5.2亿元 投入潜水器项目,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1949,2016-09-21 17:59:00,胜利股份22日复牌 终止筹划资产收购事项,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1948,2016-09-21 17:52:00,普路通股东披露减持计划,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1947,2016-09-21 17:51:00,富春通信拟10.5亿元收购游戏公司,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1946,2016-09-21 17:30:00,步森股份股东披露减持计划,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1945,2016-09-21 17:19:00,四川双马：无未披露事项 22日复牌,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1944,2016-09-21 17:10:00,九洲电气22日复牌 拟收购风电公司延伸产业链,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1943,2016-09-21 17:04:00,设计股份26日起更名为“中设集团”,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1942,2016-09-21 16:52:00,*ST蓝丰终止筹划重大资产重组,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...

In [9]:
local_df[local_df['Title']=='中航资本拟5亿元-10亿元回购股份']

,Date,Title,URL
15898,2018-10-22 17:21:00,中航资本拟5亿元-10亿元回购股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
16053,2018-10-22 17:21:00,中航资本拟5亿元-10亿元回购股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
16083,2018-10-22 17:21:00,中航资本拟5亿元-10亿元回购股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...

In [10]:
no_dup_df = local_df.drop_duplicates('Title')

In [11]:
len(local_df)

16085

In [12]:
len(no_dup_df)

15814

In [18]:
no_dup_df=no_dup_df.reset_index(drop=True)

In [21]:
no_dup_df.head()

,Date,Title,URL
0,2018-05-24 08:17:00,东方园林：从未发生过债券和银行贷款到期不能兑付问题,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
1,2018-05-24 09:20:00,3家公司临停 海南橡胶因重要事项未公告,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
2,2018-05-24 17:49:00,艾华集团两高管拟合计减持不超0.49%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
3,2018-05-24 18:01:00,秦安股份部分董监高拟合计减持不超0.32%股份,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...
4,2018-05-24 11:48:00,新筑股份战略“牵手”中铁二院,http://ggjd.cnstock.com/company/scp_ggjd/tjd_g...

In [20]:
del no_dup_df['index']

In [23]:
no_dup_df.to_sql('tb_cnstock',con=local,index=None)