In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(1,21).reshape(5,4),columns = ['one','two','three','four'])
df

   one  two  three  four
0    1    2      3     4
1    5    6      7     8
2    9   10     11    12
3   13   14     15    16
4   17   18     19    20

In [7]:
result_df = map(lambda x:(x['three'] - x['two']),df[df['four']>12])

TypeError: string indices must be integers, not str

In [8]:
df.loc[df['four'] >= 12, 'four'] = df[df['four'] >= 12]['four'] - df[df['four'] >= 12]['two']
df

   one  two  three  four
0    1    2      3     4
1    5    6      7     8
2    9   10     11     2
3   13   14     15     2
4   17   18     19     2

In [10]:
a=0.01
b=0.01
a==b

True