In [1]:
# 零起点python机器学习快速入门

In [59]:
import pip
from sklearn.cross_validation import train_test_split
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score  
from sklearn.linear_model import LinearRegression

In [3]:
iris = load_iris()

In [ ]:
iris

In [ ]:
iris.data[0]

In [5]:
data_df =pd.DataFrame(iris.data,columns=['x1','x2','x3','x4'])

In [ ]:
data_df.tail()

In [6]:
target_df = pd.DataFrame(iris.target,columns=['xid'])

In [ ]:
target_df.tail()

In [7]:
df=data_df.copy()

In [ ]:
df.tail()

In [8]:
df['xid']=iris.target

In [ ]:
df.tail()

In [12]:
df['xid'].value_counts()

2    50
1    50
0    50
Name: xid, dtype: int64

In [9]:
df.loc[df['xid']==0,'name']='virginica'

In [10]:
df.loc[df['xid']==1,'name']='visetosa'

In [11]:
df.loc[df['xid']==2,'name']='versicolor'

In [ ]:
df.describe()

In [13]:
df['name'].value_counts()

virginica     50
visetosa      50
versicolor    50
Name: name, dtype: int64

In [ ]:
df.info()

In [ ]:
df.head(100)

In [ ]:
x=np.arange(16).reshape((4,4))

In [ ]:
x

In [ ]:
d1=pd.DataFrame(x,columns=['a','b','c','d'])

In [ ]:
d1

In [ ]:
d1.values

In [ ]:
d1[['a']]

In [14]:
x=df[['x1','x2','x3','x4']]
y=df[['xid']]

In [ ]:
len(x)

In [ ]:
len(y)

In [44]:
X_train,X_test,y_train,y_test = train_test_split(x.values,y.values,random_state=0,test_size=0.3)

In [48]:
X_train.shape

(105, 4)

In [51]:
y_train.shape

(105, 1)

In [ ]:
len(X_train)

In [ ]:
y_train.tail()

In [60]:
linear_mode = LinearRegression()
linear_mode.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [62]:
y_predict = linear_mode.predict(X_test)

In [26]:
y_predict

array([[ 2.07863376],
       [ 0.96669898],
       [-0.15934059],
       [ 1.82209546],
       [-0.03128655],
       [ 2.29167009],
       [-0.03326614],
       [ 1.30556458],
       [ 1.26630691],
       [ 1.10590682],
       [ 1.61291114],
       [ 1.29882172],
       [ 1.24583575],
       [ 1.31726102],
       [ 1.35560867],
       [-0.06446882],
       [ 1.37252277],
       [ 1.26780932],
       [ 0.03810685],
       [-0.05301757],
       [ 1.83345137],
       [ 1.43872911],
       [ 0.11461187],
       [ 0.05223725],
       [ 1.59172014],
       [-0.1067769 ],
       [ 0.16770375],
       [ 1.17090695],
       [ 0.93927314],
       [ 0.10832465],
       [ 1.74781133],
       [ 1.47276913],
       [-0.06720024],
       [ 1.6329574 ],
       [ 2.00469015],
       [ 1.28881924],
       [-0.04616879],
       [ 1.59988104],
       [ 1.30377528],
       [ 1.10489089],
       [ 1.84907488],
       [-0.03240839],
       [ 1.82996938],
       [ 0.21809757],
       [-0.1049876 ]])

In [ ]:
accuracy_score(y_test,y_predict)

In [ ]:
len(y_predict)

In [ ]:
len(y_test)

In [19]:
df_test = X_test.copy()

In [20]:
df_test.head()

      x1   x2   x3   x4
114  5.8  2.8  5.1  2.4
62   6.0  2.2  4.0  1.0
33   5.5  4.2  1.4  0.2
107  7.3  2.9  6.3  1.8
7    5.0  3.4  1.5  0.2

In [22]:
type(y_predict)

numpy.ndarray

In [27]:
df_test['y_predict']=y_predict

In [28]:
df_test

      x1   x2   x3   x4  y_predict
114  5.8  2.8  5.1  2.4   2.078634
62   6.0  2.2  4.0  1.0   0.966699
33   5.5  4.2  1.4  0.2  -0.159341
107  7.3  2.9  6.3  1.8   1.822095
7    5.0  3.4  1.5  0.2  -0.031287
100  6.3  3.3  6.0  2.5   2.291670
40   5.0  3.5  1.3  0.3  -0.033266
86   6.7  3.1  4.7  1.5   1.305565
76   6.8  2.8  4.8  1.4   1.266307
71   6.1  2.8  4.0  1.3   1.105907
134  6.1  2.6  5.6  1.4   1.612911
51   6.4  3.2  4.5  1.5   1.298822
73   6.1  2.8  4.7  1.2   1.245836
54   6.5  2.8  4.6  1.5   1.317261
63   6.1  2.9  4.7  1.4   1.355609
37   4.9  3.1  1.5  0.1  -0.064469
78   6.0  2.9  4.5  1.5   1.372523
90   5.5  2.6  4.4  1.2   1.267809
45   4.8  3.0  1.4  0.3   0.038107
16   5.4  3.9  1.3  0.4  -0.053018
121  5.6  2.8  4.9  2.0   1.833451
66   5.6  3.0  4.5  1.5   1.438729
24   4.8  3.4  1.9  0.2   0.114612
8    4.4  2.9  1.4  0.2   0.052237
126  6.2  2.8  4.8  1.8   1.591720
22   4.6  3.6  1.0  0.2  -0.106777
44   5.1  3.8  1.9  0.4   0.167704
97   6.2  2.9  4.3  1.3   1.170907
93   5.0  2.3  3.3  1.0   0.939273
26   5.0  3.4  1.6  0.4   0.108325
137  6.4  3.1  5.5  1.8   1.747811
84   5.4  3.0  4.5  1.5   1.472769
27   5.2  3.5  1.5  0.2  -0.067200
127  6.1  3.0  4.9  1.8   1.632957
132  6.4  2.8  5.6  2.2   2.004690
59   5.2  2.7  3.9  1.4   1.288819
18   5.7  3.8  1.7  0.3  -0.046169
83   6.0  2.7  5.1  1.6   1.599881
61   5.9  3.0  4.2  1.5   1.303775
92   5.8  2.6  4.0  1.2   1.104891
112  6.8  3.0  5.5  2.1   1.849075
2    4.7  3.2  1.3  0.2  -0.032408
141  6.9  3.1  5.1  2.3   1.829969
43   5.0  3.5  1.6  0.6   0.218098
10   5.4  3.7  1.5  0.2  -0.104988

In [29]:
y_test

     xid
114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
134    2
51     1
73     1
54     1
63     1
37     0
78     1
90     1
45     0
16     0
121    2
66     1
24     0
8      0
126    2
22     0
44     0
97     1
93     1
26     0
137    2
84     1
27     0
127    2
132    2
59     1
18     0
83     1
61     1
92     1
112    2
2      0
141    2
43     0
10     0

In [30]:
df_test['y_test']=y_test

In [32]:
df_test['y_pred_int']=round(df_test['y_predict']).astype(int)

In [33]:
df_test.head()

      x1   x2   x3   x4  y_predict  y_test  y_pred_int
114  5.8  2.8  5.1  2.4   2.078634       2           2
62   6.0  2.2  4.0  1.0   0.966699       1           1
33   5.5  4.2  1.4  0.2  -0.159341       0           0
107  7.3  2.9  6.3  1.8   1.822095       2           2
7    5.0  3.4  1.5  0.2  -0.031287       0           0

In [35]:
pd.crosstab(df_test['y_test'],df_test['y_pred_int'],margins=True)

y_pred_int   0   1   2  All
y_test
0           16   0   0   16
1            0  17   1   18
2            0   0  11   11
All         16  17  12   45

In [37]:
df_test[df_test['y_test']!=df_test['y_pred_int']]

     x1   x2   x3   x4  y_predict  y_test  y_pred_int
83  6.0  2.7  5.1  1.6   1.599881       1           2

In [38]:
accuracy_score(df_test['y_test'].values,df_test['y_pred_int'].values)

0.9777777777777777

In [39]:
44/45*100

97.77777777777777

In [65]:
# 逻辑回归算法
from sklearn.linear_model import LogisticRegression
logistic_regression = LogisticRegression(penalty='l2')
logistic_regression.fit(X_train,y_train)
y_predict_logistic = logistic_regression.predict(X_test)

c:\python3_64\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [67]:
accuracy_score(y_test,y_predict_logistic)

0.8888888888888888